<html>

<head>
  <title>
    <%= title %>
  </title>
  <!-- <link rel="stylesheet" href="/styles.css"> -->
</head>

<body>
  <%- include("partials/navbar") %>
    <div>
      <div class="forms-container">
      <form action="/" method="get" id="filterForm">
        <p>Tags:</p>
      <% tags.forEach(function(tag) { %>
        <input type="radio" id="<%= tag%>" name="tag" value="<%= tag%>" <%=selectedTag=== tag ? 'checked' : '' %>>
        <label for="<%=tag%>"><%= tag %></label>
      <% }) %> 
      <!-- </form> using same form for both
      <form action="/" method="get" id="priceSortForm">  -->
        <p>Sort by price:</p>
        <input type="radio" id="Ascending" name="priceSort" value="ASC" checked <%=selectedPriceSort==='ASC' ? 'checked'
          : '' %> >
        <label for="Ascending">Ascending</label>
        <input type="radio" id="Descending" name="priceSort" value="DESC" <%=selectedPriceSort==='DESC' ? 'checked' : ''
          %>>
        <label for="Descending">Descending</label>
      </form>  
    </div>
    <script>
    </script>
</body>

</html>

<!-- for creating new tags, show all existing tags, then form to create new one. maybe radio button yes/no or something else to decide if "show tag on main page" -->