<html>

<head>
  <title>
    <%= title %>
  </title>
  <!-- <link rel="stylesheet" href="/styles.css"> -->
</head>

<body>
  <%- include("partials/navbar") %>
    <div>
      <div>Items:</div>
      <button>Create an Item</button>
    </div>
    <div class="items-container">
      <form action="/" method="get" id="filterForm">
        <p>Tags:</p>
      <% tags.forEach(function(tag) { %>
        <input type="radio" id="<%= tag%>" name="tag" value="<%= tag%>" <%=selectedTag=== tag ? 'checked' : '' %>>
        <label for="<%=tag%>"><%= tag %></label>
      <% }) %> 
      <!-- </form> using same form for both
      <form action="/" method="get" id="priceSortForm">  -->
        <p>Sort by price:</p>
        <input type="radio" id="Ascending" name="priceSort" value="ASC" checked <%=selectedPriceSort==='ASC' ? 'checked'
          : '' %> >
        <label for="Ascending">Ascending</label>
        <input type="radio" id="Descending" name="priceSort" value="DESC" <%=selectedPriceSort==='DESC' ? 'checked' : ''
          %>>
        <label for="Descending">Descending</label>
      </form>
      <ul>
        <% for (let i=0; i < items.length; i++) { %>
          <div>
            <img src="<%= items[i].image_url %>" alt="">
            <a href="../item/<%= items[i].id %>">
              <%= items[i].name %>
            </a>
            <div>
              <%= items[i].price %> gold
            </div>
          </div>
          <% } %>
      </ul>
    </div>
    <script>
      const tagFormInputs = document.querySelectorAll("input[name='tag']");
      tagFormInputs.forEach((radioButton) => {
        radioButton.addEventListener('change', () => {
          document.getElementById('filterForm').submit();
        })
      })

      const priceFormInputs = document.querySelectorAll("input[name='priceSort']");
      priceFormInputs.forEach((radioButton) => {
        radioButton.addEventListener('change', () => {
          document.getElementById('filterForm').submit();
        })
      })
    </script>
</body>

</html>