<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/homeStyles.css">
</head>

<body>
  <%- include("partials/navbar") %>
    <!-- <div>
      <div>Items:</div>
      <button>Create an Item</button>
    </div> -->
    <form method="get" action="" id="search-items-form">
      <!-- <label for="search-items">Search all items: </label> -->
      <input type="search" name="search-items" id="search-items" placeholder="search for an item">
      <button>
        <img src="/utils/magnify.svg" width="20" height="20">
      </button>
      <div id="item-list"></div>
    </form>
    <div class="items-container">
      <form action="/" method="get" id="filterForm">
        <fieldset>
          <legend>Item tags</legend>
          <% tags.forEach(function(tag) { %>
            <div class="tags">
              <input type="radio" id="<%= tag%>" name="tag" value="<%= tag%>" <%=selectedTag===tag ? 'checked' : '' %>>
              <label for="<%=tag%>">
                <%= tag %>
              </label>
            </div>
            <% }) %>
        </fieldset>
            <!-- </form> using same form for both
      <form action="/" method="get" id="priceSortForm">  -->
            <p>Sort by price:</p>
            <input type="radio" id="Ascending" name="priceSort" value="ASC" checked <%=selectedPriceSort==='ASC'
              ? 'checked' : '' %> >
            <label for="Ascending">Ascending</label>
            <input type="radio" id="Descending" name="priceSort" value="DESC" <%=selectedPriceSort==='DESC' ? 'checked'
              : '' %>>
            <label for="Descending">Descending</label>
      </form>
      <div class="itemsContainer">
        <% for (let i=0; i < items.length; i++) { %>
          <div class="itemContainer">
            <img src="<%= items[i].image_url %>" alt="">
            <div class="item-name-price">
              <a href="../item/<%= items[i].id %>">
                <%= items[i].name %>
              </a>
              <div>
                <%= items[i].price %> gold
              </div>
            </div>
          </div>
          <% } %>
      </div>
    </div>
    <script>
      const tagFormInputs = document.querySelectorAll("input[name='tag']");
      tagFormInputs.forEach((radioButton) => {
        radioButton.addEventListener('change', () => {
          document.getElementById('filterForm').submit();
        })
      })

      const priceFormInputs = document.querySelectorAll("input[name='priceSort']");
      priceFormInputs.forEach((radioButton) => {
        radioButton.addEventListener('change', () => {
          document.getElementById('filterForm').submit();
        })
      })
      let itemSearch = document.getElementById("search-items");
      let itemList = document.getElementById("item-list");
      // let form = document.getElementById("search-items-form");
      async function filterSearchItems(searchText) {
        console.log("filtersearchitems runs")
        const query = itemSearch.value.trim();
        if (query.length === 0) {
          itemList.innerHTML = "";
          itemList.style.display = "none";
          return;
        }
        try {
          const res = await fetch(`/search?component=${encodeURIComponent(query)}`);
          const data = await res.json();
          console.log("query is not empty, data: ", data)
          if (data.length > 0) {
            itemList.innerHTML = '';
            itemList.style.display = "block";
            data.forEach(item => {
              const anchorToItemPage = document.createElement('a');
              anchorToItemPage.href = `/item/${item.id}`;
              const dropdownItemContainer = document.createElement('div');
              dropdownItemContainer.classList.add('dropdownItemContainer');
              // const itemContainer = document.createElement('div');
              const itemName = document.createElement('div');
              const itemIcon = document.createElement('img');
              dropdownItemContainer.appendChild(itemName);
              dropdownItemContainer.appendChild(itemIcon);
              itemName.innerHTML = item.name;
              itemIcon.src = item.image_url;
              itemList.appendChild(anchorToItemPage);
              // itemContainer.appendChild(itemName);
              // itemContainer.appendChild(itemIcon);
              anchorToItemPage.appendChild(dropdownItemContainer);
            })
          } else {
            itemList.innerHTML = '';
            itemList.style.display = 'none';
          }
        } catch (error) {
          console.error("error fetching items:", error);
        }
      }
      itemSearch.addEventListener("input", () => filterSearchItems(itemSearch.value))
    </script>
</body>

</html>