<html>

<head>
  <title>
    <%= item.name %>
  </title>
  <link rel="stylesheet" href="/itemStyles.css">
</head>

<body>
  <%- include("partials/navbar") %>
    <div class="item-details">
      <h2>
        <%= item.name %>
      </h2>
      <div class="item-icon">
        <img src="<%= item.image_url %>" alt="">
      </div>
      <div class="item-price">
        <%= item.price %> gold
      </div>
      <div class="tags-container">
        <span>Tags: </span>
        <% if (tags && tags.length > 0) {%>
          <% for (let tag of tags) { %>
            <a href="../?tag=<%= tag.name %>">
              <%= tag.name %>
            </a>
            <% }; %>
            <% } else { %>
             <span class="no-tags">This item does not have any tags</span>
              <% } %>
      </div>

      <div>Item components: </div>
      <div class="item-components">
        <% if (components && components.length> 0) {%>
          <% for (let component of components) { %>
            <div class="component-details">
              <img src="<%= component.image_url %>" alt="<%= component.name%> icon">
              <a href="../item/<%= component.id %>">
                <%= component.name %>
              </a>
              <div>
                <%= component.price %> gold
              </div>
            </div>
            <% }; %>
              <% } else { %>
                <div> This is a base item, there are no smaller components.</div>
                <% } %>
      </div>
    </div>
    <div class="delete-item-container">
      <div>Delete item</div><span>This action will permanently delete the item, and cannot be undone!</span>
      <button id="delete-button" data-id="<%=item.id%>">Delete this item</button>
    </div>

    <script>
      document.getElementById("delete-button").addEventListener("click", async function () {
        const confirmed = confirm("Delete Item Permanently?");
        const itemId = this.getAttribute("data-id");
        console.log(itemId, " itemid")
        if (!confirmed) return;
        try {
          const response = await fetch(`/item/${itemId}`, {
            method: "DELETE"
          });
          if (response.ok) {
            alert("item deleted");
            window.location.href = "/"; // Redirect to homepage or wherever you want
          } else {
            alert("error deleting item");
          }

        } catch (error) {
          console.log("error deleting ", error);
          alert("An error occurred."); //
        }
      })
    </script>
</body>

</html>