<html>

<head>
   <title><%= item.name %></title>
  <!-- <link rel="stylesheet" href="/styles.css"> -->
</head>

<body>
  <%- include("partials/navbar") %>
    <div>
      <img src="<%= item.image_url %>" alt="">
      <div><%= item.name %></div>
      <div><%= item.price %> gold</div>
      <div>
        <span>Tags: </span>
        <% if (tags) {%>
          <% for (let tag of tags) { %>
            <a href="../?tag=<%= tag.name %>"><%= tag.name %></a>
          <% }; %>
        <% } %>
      </div>

      <div>
        <span>Item components: </span>
        <% if (components && components.length > 0) {%>
          <% for (let component of components) { %>
             <div>
              <a href="../item/<%= component.id %>"><%= component.name %></a>
              <div><%= component.price %> gold</div>
              <img src="<%= component.image_url %>" alt="">
             </div>
          <% }; %>
        <% } else { %>
          <div> This is a base item, there are no smaller components.</div>
        <% } %>
      </div>
    </div>
    <script>

    </script>
</body>

</html>